@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1602291434107'); /* IE9 */
  src: url('iconfont.eot?t=1602291434107#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALoAAsAAAAABqAAAAKZAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBLIExATYCJAMICwYABCAFhG0HMBvXBRHVkz9kXx3YwfDxGawc1AidNoQ9NGxO2rfna1NFw9QE93Pw/Gf3dV9V9f/VGBDRnMkgL+QMYAfZItoNMmRQJkRUJqccYNqWSWoJpO2Ohw04gU1nmmDzbbWWtkW+khY/YZH80rWiO3HGeGkEAGzATcuttDD8x73TP5ocyHxAOe5FY02a1AXUxYEU0N64lnABhdwwdsEL3A0BPHKpRto7+8exGOxBAsjqFcsWYAsODIaFLUKkYaZBTuJg1SF1FzgRfV8+UiMWFI7Gzhpe2rGY5jfiROmd/4/ZAYITBDTfATRQDRiQ8cbAIBphNI0XMBTCsdIF3sj/B3rkqBqE/XV2agBANuQ+E8/jP2pYATxWQ+qAlknvA6lb5/WCiMfOed7h86J3hX7M5Pyzdz5MWxQ2ZcE5nl1yoHwJQ98/ci4FX3aFkZjere+sz1UEW8e3BXS7RyXnjDf+Xdefdzi7Lff1rs32f0ZP74+bKdnmw6yAbNv4MHow9mD0CTTK2CFdqy6z55+sffBjYx/n39Y3ADy7WPYhUhuGmcCezCjw03gDy4whsHXKaLzGakXdzeR4eMB/bEnk5VRlyh1GBEvKBFOUnAw0lmLUEKvBwacWIliawKOKrvk+SWxEI8YFKtkHQIjnCihiuQaaeO6hhvgCHFL5DBHiRYPHpGhFn1LRjBjhyLjA9AczpyhdA4s4/Y5q9yPlBRH9jbQZNzRlXQ7fMCItMWb7qJZZgqQU4Ar2Q+8TZEoWZy41c+6qSjbdqJxTKAQjHBkXmP5g5hRlUJtF5fN3VLsfqaOkzvlG2kzz0JT1APQmjYNKHuWQ7aNaZgmSUoAr6IbeJ8jN3SzOXOoJvtxVTiU5VFpuLw9/tw7wsFVKnE4aL8aoaC8KAAAA') format('woff2'),
  url('iconfont.woff?t=1602291434107') format('woff'),
  url('iconfont.ttf?t=1602291434107') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1602291434107#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dengru:before {
  content: "\e601";
}

